@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body
{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color : black;
}

#head 
{
    margin-top: -1%;
    font-weight: 900;
}

#content 
{
    margin-top: 5%;
}

#foot
{
    background-color: white;
    color : black;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: absolute;
    text-align: center;
    font-weight: 800;
}

#name 
{
    letter-spacing: 5px;
}

button
{
    background-color: white;
    color: black;
    border: 0.5px solid #2BAF08;
    border-radius: 1%;
}

button:hover
{
    background-color: #2BAF08;
    cursor: pointer;
}

#about-button
{
    margin-top: -3.5%;
    float: right;
}

.popup 
{
    display: none;
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 180px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    border: 3px solid;
    z-index: 20;
}

#popup:after 
{
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
}

#popup:before 
{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
}

.select_green
{
    color: #2BAF08;
}

.steps p 
{
    margin: 0;
}

#generator p 
{
    display: inline;
    color: white;
    background-color: black;
}

#foot p 
{
    font-size: large;
}

a
{
    color: #2BAF08;
}

a:link 
{
    text-decoration: none;
}
  
a:visited 
{
    text-decoration: none;
}
  
a:hover 
{
    text-decoration: underline;
}
  
a:active 
{
    text-decoration: underline;
}

a i
{
    color: white;
}

#key
{
    color: #2BAF08;
    font-weight: bold;
}