@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* responsive structure */
*
{
    margin: 0;
    padding: 0;
}

html, body 
{
    height: 100%;
}

section
{
    overflow: auto;
    padding-bottom: 100px;
}

footer
{
    position: fixed;
    bottom: 0;
    height: 100px;
    margin-top: -100px;
    clear: both;
}

img 
{
   display: none;
}

@media (min-width: 900px)
{
    img
    {
        display: block;
        height: auto;
        width: 30%;
    }
}
/* end of responsive structure */

/* set common font */
body 
{
    font-family: 'Open Sans', sans-serif;
}
/* end of set commmon font */

/* style pop-up */
#popup
{
    display: none;
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 180px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    border: 3px solid;
    z-index: 20;
}

#popup::after
{
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
}

#popup::before
{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
}
/* end of style pop-up */

/* style all buttons */
button
{
    background-color: white;
    border: 0.5px solid #2BAF08;
    border-radius: 1%;
    padding: 2px;
}

button:hover
{
    background-color: #2BAF08;
    cursor: pointer;
}
/* end of style all buttons */

/* style header */
header
{
    font-weight: 800;
    padding: 10px;
}

#about
{
    float: right;
    margin-top: -2%;
    font-size: large;
}

header h1 
{
    letter-spacing: 5px;
}
/* end of style header */

/* style links */
a
{
    color: #2BAF08;
}

a:link 
{
    text-decoration: none;
}
  
a:visited 
{
    text-decoration: none;
}
  
a:hover 
{
    text-decoration: underline;
}
  
a:active 
{
    text-decoration: underline;
}

a i
{
    color: white;
}
/* end of style links */

/* span */
.part_green 
{
    color: #2BAF08;
}
/* end of span */

/* style encrypt */
#encrypt
{
    padding: 10px;
}

#encrypt img
{
    float: right;
    margin-top: -8%;
}
/* end of style encrypt */

/* style decrypt */
#decrypt
{
    padding: 10px;
}

#move_right
{
    float: right;
}

#decrypt img
{
    margin-top: 1%;
}
/* end of style encrypt */

/* style footer */
footer
{
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 800;
    width: 100%;
}

footer p
{
    font-size: large;
    transform: translateY(55%);
}
/* end of style footer */

/* style generator */
#generator 
{
    padding: 10px;
}

#generated_key
{
    display: inline;
    color: white;
    font-weight: bold;
    background-color: black;
}

#tagline
{
    float: right;
    font-size: x-large;
    font-style: italic;
}
/* end of style generator */